<div class="main-container display animate" [ngClass]="{show: showPage, solid: childMode}">
  <div class="fix-nav">
    <div class="logo-box full" *ngIf="showMagic">
      <div class="app-logo img-fit" [ngStyle]="{'background-image': app.logo.url}"></div>
    </div>
    <div class="icon-next ptr" (click)="goBack()"></div>
  </div>
  <div class="scroll-container oys" (scroll)="onScroll($event)">
    <div class="app-nav">
      <div class="app-name">{{app.app_name}}</div>
      <div class="app-desc">{{app.app_desc}}</div>
      <div class="app-logo img-fit" [ngStyle]="{'background-image': app.logo.url}"></div>
    </div>
    <div class="section-container">
      <div class="section-nav">
        <div class="section-title">应用介绍</div>
        <div class="operator ptr"
             *ngIf="showFoldButton"
             (click)="foldInfo = !foldInfo"
        >{{foldText}}</div>
      </div>
      <div class="markdown-box" #markdownBox [ngClass]="{fold: foldInfo}">
        <markdown [data]="app.info"></markdown>
      </div>
      <div class="mark-box">
        <div class="mark-num">{{app.markNum}}</div>
        <div class="mark-info-star" (click)="appScoreBox.show()">
          <div class="star-box ptr">
            <div *ngFor="let star_class of app.starClassList" [ngClass]="star_class"></div>
          </div>
          <div class="mark-info">{{app.markPeopleText}}评分，{{app.user_num}}人在用</div>
        </div>
        <div class="owner-box">
          <div class="owner-name ptr">{{app.owner.nickname}}</div>
          <div class="owner-title">开发者</div>
        </div>
      </div>
    </div>
    <div class="section-container edit-mode">
      <div class="section-nav">
        <div class="section-title">使用信息</div>
      </div>
      <div class="section-list">
        <div class="section-item profile" [ngClass]="appScopes.class">
          <div class="profile-attribute oxs middle-line">权限</div>
          <div class="profile-value oxs middle-line" *ngIf="app.scopes.length" (click)="appInfoRadioList.toggle(appScopes)">需获得{{app.scopes.length}}项权限…</div>
          <div class="profile-value oxs middle-line" *ngIf="!app.scopes.length">无需获得任何权限</div>
          <div class="right-icon icon-next animate ptr middle-line" *ngIf="app.scopes.length" (click)="appInfoRadioList.toggle(appScopes)"></div>
          <div class="active-element profile-value oxs middle-line under-line" *ngFor="let scope of app.scopes">{{scope.keyDesc}}</div>
        </div>
        <div class="section-item profile" [ngClass]="appPremises.class">
          <div class="profile-attribute oxs middle-line">要求</div>
          <div class="profile-value oxs middle-line" [ngClass]="{'warn': app.premiseWarn}" (click)="app.premises.length && appInfoRadioList.toggle(appPremises)">{{app.premiseSummaryText}}</div>
          <div class="right-icon icon-next animate ptr middle-line" *ngIf="app.premises.length" (click)="appInfoRadioList.toggle(appPremises)"></div>
          <div class="active-element profile-value oxs middle-line under-line" *ngFor="let premise of app.premises"><span [ngClass]="app.premiseCheckIcon(premise)"></span>{{premise.keyDesc}}</div>
        </div>
      </div>
    </div>
    <div class="section-container edit-mode" *ngIf="userService.user?.user_str_id == app.owner?.user_str_id">
      <div class="section-nav">
        <div class="section-title">开发者选项</div>
      </div>
      <div class="section-list">
        <div class="section-item profile" *ngIf="app.test_redirect_uri">
          <div class="profile-attribute oxs middle-line">测试服</div>
          <div class="profile-value oxs middle-line">前往测试服</div>
          <div class="right-icon icon-next animate ptr middle-line" (click)="oauthTestApp()"></div>
        </div>
        <div class="section-item profile">
          <div class="profile-attribute oxs middle-line">管理</div>
          <div class="profile-value oxs middle-line">前往管理页面</div>
          <div class="right-icon icon-next animate ptr middle-line" (click)="manageApp()"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="animate" [ngClass]="{solid: childMode, show: showPage}">
  <div class="license-box">
    <div class="icon-checked"></div>
    <div class="agree-text">我同意<b>齐天簿服务条款</b></div>
  </div>
  <div class="next-box ptr" (click)="oauthApp()">
    <div>{{oauthFootText}}</div>
    <div class="icon-next"></div>
  </div>
</footer>
<app-score-box #appScoreBox [app]="app"></app-score-box>
