<div #measureContainer class="full"></div>
<div #mainContainer class="main-container full oys" [ngClass]="{'show-menu': showMenu}">
  <div class="nav">
    <div class="avatar-box">
      <div class="avatar img-random img-fit"></div>
      <div class="text-box">
        <div class="nickname">欺天大甚</div>
        <div class="append-info">
          <div class="verify verified">实名认证</div>
        </div>
      </div>
    </div>
    <div class="menu"></div>
  </div>
  <app-saying></app-saying>
  <div class="section-container">
    <div class="section-nav">
      <div class="section-title">个人信息</div>
      <div class="operator ptr">编辑</div>
    </div>
    <div class="section-list">
      <div class="section-item profile inactive">
        <div class="profile-attribute oxs">个性签名</div>
        <div class="inactive-element profile-value oxs">歌手，创作爱与好奇</div>
        <input class="active-element profile-value oxs" value="歌手，创作爱与好奇"/>
        <div class="profile-edit-icon"></div>
      </div>
      <div class="section-item profile active">
        <div class="profile-attribute oxs">生日星座</div>
        <div class="inactive-element profile-value oxs">1995-10-01 天秤座️</div>
        <input #birthday class="active-element profile-value" type="date" value="1995-10-01" [max]="clockService.getFormattedDate()">
        <div class="profile-edit-icon"></div>
        <div class="active-element profile-value constellation oxs">{{clockService.getConstellation('1997-09-13')}}</div>
      </div>
      <div class="section-item profile inactive">
        <div class="profile-attribute oxs">手机认证</div>
        <div class="profile-value oxs">178****1961</div>
        <div class="profile-edit-icon"></div>
      </div>
      <div class="section-item profile active">
        <div class="profile-attribute oxs">头像</div>
        <input #avatarUploader class="hide" type="file" accept="image/*" (change)="chooseAvatarImage($event.target.files)"/>
        <div class="profile-avatar img-random img-fit" (click)="avatarUploader.click()"></div>
        <div class="profile-edit-icon"></div>
        <div class="active-element change-avatar-hint">点击更换头像</div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-nav">
      <div class="section-title">常用应用</div>
      <!--<div class="operator ptr"></div>-->
    </div>
    <div class="section-list">
      <div class="section-item app">
        <div class="app-logo img-random img-fit"></div>
        <div class="app-info">
          <div class="app-name oxs">浑天匣</div>
          <div class="app-slogan oxs">分享世界，离自由更近一点。</div>
        </div>
        <div class="right-operator-box">
          <div class="right-operator full">
            <div class="btn ptr">进入应用</div>
          </div>
        </div>
      </div>
      <div class="section-item app">
        <div class="app-logo img-random img-fit"></div>
        <div class="app-info">
          <div class="app-name oxs">世界观</div>
          <div class="app-slogan oxs">看见真实，用双眼。</div>
        </div>
        <div class="right-operator-box">
          <div class="right-operator full">
            <div class="btn ptr">进入应用</div>
          </div>
        </div>
      </div>
      <div class="section-item app">
        <div class="app-logo img-random img-fit"></div>
        <div class="app-info">
          <div class="app-name oxs">褶天言</div>
          <div class="app-slogan oxs">行走的诗人归栖处。</div>
        </div>
        <div class="right-operator-box">
          <div class="right-operator full">
            <div class="btn ptr">进入应用</div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-hint ptr">更多应用，快来发现！</div>
  </div>
</div>

<div class="show-menu-mask" [ngClass]="{'show-menu': showMenu}"></div>

<div #menuContainer class="menu-container" [ngClass]="{'show-menu': showMenu}">
  <app-animate-button></app-animate-button>
</div>
