<div class="main-container oys">
  <div class="nav">
    <div class="avatar-box">
      <div class="avatar img-random img-fit"></div>
      <div class="text-box">
        <div class="nickname">欺天大甚</div>
        <div class="append-info">
          <div class="verify verified">实名认证</div>
        </div>
      </div>
    </div>
    <div class="myweb-qitianbu"></div>
  </div>
  <app-saying></app-saying>
  <div class="section-container">
    <div class="section-nav">
      <div class="section-title">消息中心<span class="num">10</span></div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-nav">
      <div class="section-title">常用应用</div>
      <!--<div class="operator ptr"></div>-->
    </div>
    <div class="section-list">
      <div class="section-item app">
        <div class="app-logo img-random img-fit"></div>
        <div class="app-info">
          <div class="app-name oxs">浑天匣</div>
          <div class="app-slogan oxs">分享世界，离自由更近一点。</div>
        </div>
        <div class="right-operator-box">
          <div class="right-operator full">
            <div class="btn ptr">进入应用</div>
          </div>
        </div>
      </div>
      <div class="section-item app">
        <div class="app-logo img-random img-fit"></div>
        <div class="app-info">
          <div class="app-name oxs">世界观</div>
          <div class="app-slogan oxs">看见真实，用双眼。</div>
        </div>
        <div class="right-operator-box">
          <div class="right-operator full">
            <div class="btn ptr">进入应用</div>
          </div>
        </div>
      </div>
      <div class="section-item app">
        <div class="app-logo img-random img-fit"></div>
        <div class="app-info">
          <div class="app-name oxs">褶天言</div>
          <div class="app-slogan oxs">行走的诗人归栖处。</div>
        </div>
        <div class="right-operator-box">
          <div class="right-operator full">
            <div class="btn ptr">进入应用</div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-hint ptr">更多应用，快来发现！</div>
  </div>
</div>

