<div class="main-container oys">
  <div class="section-container">
    <div class="section-nav">
      <div class="section-title">个人信息</div>
      <div class="operator ptr">编辑</div>
    </div>
    <div class="section-list">
      <div class="section-item profile inactive">
        <div class="profile-attribute oxs">个性签名</div>
        <div class="inactive-element profile-value oxs">歌手，创作爱与好奇</div>
        <input class="active-element profile-value oxs" value="歌手，创作爱与好奇"/>
        <div class="profile-edit-icon"></div>
      </div>
      <div class="section-item profile active">
        <div class="profile-attribute oxs">生日星座</div>
        <div class="inactive-element profile-value oxs">1995-10-01 天秤座️</div>
        <input #birthday class="active-element profile-value" type="date" value="1995-10-01" [max]="clockService.getFormattedDate()">
        <div class="profile-edit-icon"></div>
        <div class="active-element profile-value constellation oxs">{{clockService.getConstellation('1997-09-13')}}</div>
      </div>
      <div class="section-item profile inactive">
        <div class="profile-attribute oxs">手机认证</div>
        <div class="profile-value oxs">178****1961</div>
        <div class="profile-edit-icon"></div>
      </div>
      <div class="section-item profile active">
        <div class="profile-attribute oxs">头像</div>
        <input #avatarUploader class="hide" type="file" accept="image/*" (change)="chooseAvatarImage($event.target.files)"/>
        <div class="profile-avatar img-random img-fit" (click)="avatarUploader.click()"></div>
        <div class="profile-edit-icon"></div>
        <div class="active-element change-avatar-hint">点击更换头像</div>
      </div>
    </div>
  </div>
</div>
